@use "../../styles/partials/colors" as *;
@use "../../styles/partials/breakpoints" as *;


.warehouse-item {
    display: flex;
    // flex-wrap: wrap;
    padding: 1rem 0rem 1rem 2rem;
    border-top: solid 0.1rem $cloud;
    background-color: $white;
    justify-content: space-evenly;
    position: relative;

    @include tablet {
        border-top: none;
        flex-direction: row;
        justify-content: unset;
        
    }


    &__column {
        @include tablet {
            display: flex;
    
            width: 66%;
            justify-content: space-evenly;
            align-items: center;
        }
               &--select {
            @include tablet {
                width: 34%;
                justify-content: space-between;
              
            }
        }
    }

    &__tablet-button {
        display: none;

        @include tablet {
            width: 1.125rem;
            height: 1.125rem;
            display: unset;
            margin: 0 1.3rem 0 0rem;
        }
    }

    &__bottom {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        width: 5rem;
        text-decoration: none;

        @include tablet {
            width: 6.5rem;
        }
        
    }

    &__box {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;

        @include tablet {
            width: 7rem;
            margin: 0;
           
        }

        &--select {

            @include tablet {
                flex-direction: row;

            }
          flex-direction: column;
        }

        
        
    }

    &__label {
        font-weight: 600;
        color: $slate;
        text-transform: uppercase;
        margin: 0 0 0.3rem 0;

        @include tablet {
            display: none;
        }
    }

    &__data {
        margin: 0;
        color: $instock-black;
        width: 7rem;

        &--select {
            color: $instock-indigo;
            font-weight: 600;
        }
    }


    &__icon {
        width: 1.125rem;
        height: 1.125rem;

        @include tablet {
            display: none;
        }

        &--select {
            position: absolute;
            bottom: 1rem;
            right: 1.5rem;
        }
    }

    &__chevron {
        width: 1.125rem;
        height: 1.125rem;

      
    }
}