@use '../../styles/partials/colors.scss' as *;
@use '../../styles/partials/breakpoints.scss' as *;


.link {
    text-decoration: none;
    color: $instock-indigo;
}

.inventory{
    display: flex;
    flex-direction: column;
    
   
    &__containerMobile{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        border-bottom: 1px solid gray;
    }
    &__text{
        margin: 0;
    }
    &__box{
        display: flex;
        justify-content: space-between;
        padding: 1rem;
    }   
    &__mobile-column-label{
        padding-top: 1rem;
    }
    &__mobile-options{
        padding: 1rem;
        display: flex;
        justify-content: space-between;
    }
    &-status{
        background-color: rgba(21, 132, 99, 0.07);
        border-radius: 20px;
        padding: 0.25rem;
        margin-top: 1rem;
    }
    &__containerTab{
        display: none;
        &-header{
            display: none;
        }
        &-table{
            display: none;
        }
    }
    
}

@include tablet{
    .inventory{
        display: flex;
        flex-direction: column;
        // padding: 0 2rem;
       
        &__containerMobile{
            display: none;
        }
        &__containerTab{
           
            &-header{
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 1rem;
                justify-content: space-evenly;
                gap: 1rem;
                background-color: $light-grey;
                padding: 0 2rem;
                &-p{
                    width: 6rem;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    text-align: left;
                }
            }
            &-table{
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 1rem;
                justify-content: space-evenly;
                padding: 0 2rem;
                &-p{
                    width: 6rem;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    text-align: left;
                }
            }
        }
    }
}

@include desktop{
    
    .inventory{
       
        &__containerMobile{
            display: none;
        }
        &__containerTab{
           
            &-header{
                padding: 0 9.5rem 0 8.5rem;
            }
            &-table{
                padding: 0 9.5rem 0 8.5rem;
            }
        }
    }
}