@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);

  @include tablet {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
  }

  &__main {
    position: fixed;
    background: white;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @include tablet {
      width: 42rem;
      height: 16.375rem;
      top: 42%;
      border-radius: 3px;
    }
  }

  &__show {
    display: block;
  }

  &__hide {
    display: none;
  }

  &__button {
    @include font-buttons;
    border: none;
    padding: 0.5rem 3.2rem;
    border-radius: 1.25rem;
    position: absolute;
    bottom: 1.5rem;

    @include tablet {
      padding: 0.5rem 1rem;
    }
  }

  &__cancel {
    margin: 1rem;
    color: $color-secondary-slate;
    border: 1px solid $color-secondary-cloud;
    background-color: $color-primary-white;

    @include tablet {
      right: 8.5rem;
    }
  }

  &__delete {
    margin: 0 1rem 1rem 0;
    right: 0;
    color: $color-primary-white;
    background: $color-supporting-red;
    border: 1px solid $color-supporting-red;

    @include tablet {
      right: 3rem;
    }
  }

  &__close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 1.3125rem;
  }
}
