//Primary Colors
$color-primary-black: #13182c;
$color-primary-indigo: #2e66e5;
$color-primary-white: #ffffff;

//Secondary Colors
$color-secondary-slate: #5c667e;
$color-secondary-cloud: #bdc5d5;

//Background Colors
$color-background-graphite: #232940;
$color-background-light-grey: #f7f8f9;

//Supporting Colors
$color-supporting-green: #158463;
$color-supporting-red: #c94515;
