//Main font
@font-face {
  font-family: "Titillium";
  src: url("../../assets/font/TitilliumWeb-Regular.ttf");
}

@font-face {
  font-family: "Titillium";
  src: url("../../assets/font/TitilliumWeb-SemiBold.ttf");
  font-weight: 600;
}

$font-stack: "Titillium", sans-serif;
$root-font-size: 16px;
