@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/colors" as *;

.main {
  box-sizing: border-box;
  width: 100%;
  padding: 0 1rem;

  @include tablet {
    padding: 0 10%;
  }
  @include desktop {
    padding: 0 15%;
  }

  &__container {
    box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
    border-radius: 3px;
  }
}

.header {
  &--form-page {
    background-color: $color-primary-white;
    box-sizing: border-box;
    display: flex;
    align-items: baseline;

    padding: 32px 24px;

    @include tablet {
      padding: 32px;
    }
  }

  &__title {
    @include font-header;
    color: $color-primary-black;
    padding-bottom: 1rem;

    @include tablet {
      padding-bottom: 0;
    }
  }
}
