@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/colors" as *;

.item {
  background-color: $color-primary-white;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  border-top: 1px solid $color-secondary-cloud;
  padding: 1.5rem;
  justify-content: space-between;

  @include tablet {
    padding: 1.25rem 2rem;
    flex-direction: row;
  }

  @include desktop {
    padding: 1.25rem 2.3rem 1.25rem 2.6rem;
  }

  &__container-top {
    display: flex;
    flex-direction: column;
    height: 11rem;
    flex-wrap: wrap;

    @include tablet {
      height: 0;
      flex-direction: row;
      width: 82%;
      flex-wrap: nowrap;
      justify-content: space-between;
    }

    @include desktop {
      width: 47.75rem;
    }
  }

  &__information {
    width: 8.5rem;
  }

  &__details-label {
    @include font-table-label;
    color: $color-secondary-slate;

    @include tablet {
      display: none;
    }
  }

  &__detail {
    font-size: 0.75rem;
    margin: 0.45rem 0 1rem;

    &--in-stock {
      width: 4rem;
      padding: 0.2rem 0;
      text-align: center;
      border-radius: 20px;
      color: $color-supporting-green;
      background-color: rgba(21, 132, 99, 0.07);
      @include font-label;
      margin: 0.1rem 0 0.5rem;
    }

    &--0 {
      width: 5.45rem;
      color: $color-supporting-red;
      background-color: rgba(201, 69, 21, 0.07);
      @include font-label;

      @include tablet {
        width: 5rem;
        padding: 0 0.25rem;
      }
    }
  }

  &__name {
    @include tablet {
      width: 8.5rem;
    }
  }

  &__link {
    display: block;
    color: $color-primary-indigo;
    font-weight: 600;
    font-size: 13px;
    display: flex;
    align-items: center;
    padding: 0.15rem 0 0.65rem;

    @include tablet {
      padding: 0.4rem 0 0.2rem;
    }
  }

  &__category {
    margin-bottom: 2rem;

    @include tablet {
      width: 6.25rem;
    }
  }

  &__status {
    @include tablet {
      width: 5.25rem;
    }
  }

  &__quantity {
    @include tablet {
      width: 4.25rem;
    }
  }

  &__warehouse {
    @include tablet {
      width: 3.8rem;
    }
  }

  &__container-bottom {
    display: flex;
    justify-content: space-between;
    width: 100%;

    @include tablet {
      width: 3.3rem;
    }
  }

  &__button {
    background-color: $color-primary-white;
    border: none;
  }

  &__button {
    background-color: none;
    border: none;
    cursor: pointer;
    fill: none;
  }
}

.modal {
  &__heading {
    padding: 3.75rem 1rem 0;
    @include font-header;

    @include tablet {
      padding: 2.5rem 4rem 0;
    }
  }

  &__text {
    padding: 1rem;
    @include font-body-large;

    @include tablet {
      padding: 1rem 7rem 1rem 4rem;
    }
  }
}

.table-heading {
  display: none;

  @include tablet {
    display: flex;
    justify-content: space-between;
    padding: 11px 32px;
  }
  @include desktop {
    padding: 11px 40px;
  }

  color: $color-secondary-slate;
  background-color: $color-background-light-grey;
  box-sizing: border-box;
  width: 100%;

  &__label {
    @include font-table-label;
    position: relative;
  }
  &__label--actions {
    @include font-table-label;
  }
}
