@use "../../styles/partials/colors" as *;
@use "../../styles/partials/breakpoints" as *;

.inventory-details {

    background-color: $light-grey;
    padding: 0 1rem 0 1rem;

    @include tablet {
        padding: 0 2rem 0 2rem;
    }

    @include desktop {
        padding: 0 8.125rem 0 8.125rem;
        
    }

    &__article {
        position: relative;
        bottom: 4rem;
        background-color: $white;
        border-radius: 0.1875rem;
    }

    &__left {
        display: flex;
    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 0.0625rem solid $cloud;
        padding: 0 1rem 0 1rem;

    }

    &__title {
        color: $instock-black;
        padding-left: 0.5rem;
    }

    &__back {
        width: 1rem;
        height: 1rem;
    }

    &__container {
        background-color: $instock-indigo;
        width: 2.25rem;
        height: 2.25rem; 
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 1.25rem;

        @include tablet {
            width: 3.1rem;
            padding: 0 1rem 0 1rem;
        }
        
    }

    &__edit {
        width: 0.9375rem;
        height: 0.9375rem;
        background-color: $instock-indigo;

       
    }

    &__text {
        display: none;

        @include tablet {
            display: unset;
            color: $white;
            padding-left: 0.5rem;
        }
    }

    &__main {
        padding: 1rem 1rem 1rem 1rem;
        display: flex;
        flex-direction: column;

        @include tablet {
            flex-direction: row;
        }
    }

    &__top {

        @include tablet {
            display: flex;
            flex-direction: column;
            width: 50%;
            padding: 0 1rem 0 1rem;
        }
       
    }

    &__bottom {
        @include tablet {
            display: flex;
            flex-direction: column;
            width: 50%;
            padding: 0 1rem 0 1rem;
            border-left: 0.0625rem solid $cloud;
        }
    }

    &__box  {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
    }

    &__middle {
        display: flex;
        justify-content: space-between;
        padding-right: 5rem;
    }

    &__label {
        margin: 0 0 0 0;
        text-transform: uppercase;
        color: $slate;
        font-weight: 600;

    }

    &__data {
        margin: 0;
        color: $instock-black;
        margin-top: 0.1rem;

    }

    &__status {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 3.8125rem;
        height: 1.5rem;
        background-color: rgba(21, 132, 99, 0.07);
        border-radius: 1.25rem;
        padding: 0.01rem;
        margin-top: 0.1rem;
    }

    &__highlight {
       color: #158463;
       text-transform: uppercase;
       font-weight: 600;
       margin: 0;

    }
}