@use '../../styles/partials/typography' as *;
@use '../../styles/partials/colors' as *;
@use '../../styles/partials/breakpoints' as *;

.addNewWarehouse {
    padding: 0 1rem;
    background: $light-grey;

    &__card {
        background: $white;
        z-index: 1;
        position: relative;
        top: -3.5rem;
        border-radius: 3px;
        box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
    }
    &__header {
        display: flex;
        justify-content: center;
        margin: 0;
        font-size: 1.5rem;
        border-bottom: 1px solid $cloud;
    }
    &__details-warehouse{
        border-bottom: 1px solid $cloud;
    }
    &__details-subheading, &__form {
        margin: 0;
        padding: 1rem 1.25rem 0rem;
        display: flex;
        flex-direction: column;
    }
    &__form {
        padding: 0rem 1.25rem 1.25rem;
    }
    &__label {
        padding: .75rem 0 .25rem;
    }
    &__input {
        border-radius: 30px;
        border: 1px solid $cloud;
        padding: .5rem .75rem;
    } 
    ::placeholder {
        font: .688rem 'Titillium Web';
    }
    &__button-section {
        background: $light-grey;
        display: flex;
        justify-content: space-between;
        padding: 1rem 1.25rem;
    }
    &__button-add, &__button-cancel {
        border-radius: 30px;
        border: 1px solid $cloud;
        padding: .45rem .75rem;
        width: 47%;
        font: .688rem 'Titillium Web Semibold';
        color: $white;
        background: $instock-indigo;
    }
    &__button-cancel {
        color: $slate;
        background: $white;
    }
    @include tablet {
        &__header {
            display: flex;
            justify-content: flex-start;
            padding: 0 1.75rem 0;
        }
        &__details {
            display: flex;
            justify-content: center;
            &-warehouse, &-contact {
                margin: 1.5rem 0 1.75rem;
                width: 50%;
            }
            &-warehouse {
                border-right: 1px solid $cloud;
                border-bottom: none;
            }
        }
        &__details-subheading, &__form {
            padding: 0 1.75rem 0;
        }
        &__button-section {
            justify-content: flex-end;
            padding-right: 1.75rem;
        }
        &__button-add, &__button-cancel {
            border-radius: 30px;
            border: 1px solid $cloud;
            padding: .45rem .75rem;
            width: auto;
            font: .688rem 'Titillium Web Semibold';
            color: $white;
            background: $instock-indigo;
        }
        &__button-cancel {
            color: $slate;
            background: $white;
            margin-right: 1rem;
        } 
    }
}

.page-header {
    font-size: 1.5rem;

    @include tablet {
        font-size: 2rem;
    }
}