@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600&display=swap");
@font-face {
  font-family: "Titillium Web";
  src: url("../../assets/fonts/TitilliumWeb-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Titillium Web SemiBold";
  src: url("../../assets/fonts/TitilliumWeb-SemiBold.ttf") format("truetype");
  font-weight: 600;
}
.page-header {
  font-size: 1.75rem;
  line-height: 2.25rem;
  font-weight: 600;
}

.sub-header {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
}

.label-text, .button-text, .link-text {
  font-size: 0.813rem;
  line-height: 1.25rem;
  font-weight: 600;
}

.table-header {
  font-size: 0.688rem;
  line-height: 1rem;
  font-weight: 400;
}

.body-large {
  font-size: 0.938rem;
  line-height: 1.625rem;
  font-weight: 400;
}

.body-medium {
  font-size: 0.813rem;
  line-height: 1.25rem;
  font-weight: 400;
}

.body-small {
  font-size: 0.688rem;
  line-height: 1rem;
  font-weight: 400;
}

@media only screen and (min-width: 768px) {
  .page-header {
    font-size: 2rem;
    line-height: 2.5rem;
    font-weight: 600;
  }
  .sub-header {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
  }
  .label-text, .button-text, .link-text {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 600;
  }
  .table-header {
    font-size: 0.75rem;
    line-height: 1.125rem;
    font-weight: 400;
  }
  .body-large {
    font-size: 1rem;
    line-height: 1.75rem;
    font-weight: 400;
  }
  .body-medium {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
  }
  .body-small {
    font-size: 0.75rem;
    line-height: 1.125rem;
    font-weight: 400;
  }
}
@media only screen and (min-width: 1280px) {
  .page-header {
    font-size: 2rem;
    line-height: 2.5rem;
    font-weight: 600;
  }
  .sub-header {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
  }
  .label-text, .button-text, .link-text {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 600;
  }
  .table-header {
    font-size: 0.75rem;
    line-height: 1.125rem;
    font-weight: 400;
  }
  .body-large {
    font-size: 1rem;
    line-height: 1.75rem;
    font-weight: 400;
  }
  .body-medium {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
  }
  .body-small {
    font-size: 0.75rem;
    line-height: 1.125rem;
    font-weight: 400;
  }
}
.addNewInventory {
  padding: 0 1rem;
  background: #F7F8F9;
}
.addNewInventory__card {
  background: #FFFFFF;
  z-index: 1;
  position: relative;
  top: -4rem;
  border-radius: 3px;
  box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
}
.addNewInventory__header {
  display: flex;
  margin: 0;
  padding-left: 1.75rem;
  padding-right: 1.5rem;
  border-bottom: 1px solid #BDC5D5;
}
.addNewInventory__heading {
  margin: 2rem 0 1.5rem;
}
.addNewInventory__back-icon {
  padding: 0 0.75rem 2rem 0;
}
.addNewInventory__details-item {
  border-bottom: 1px solid #BDC5D5;
}
.addNewInventory__details-subheading, .addNewInventory__form-container {
  margin: 0;
  padding: 1rem 1.5rem 0.5rem;
  display: flex;
  flex-direction: column;
}
.addNewInventory__form-container {
  padding: 0rem 1.5rem 1.25rem;
}
.addNewInventory__label {
  padding: 1rem 0 0;
  display: flex;
  flex-direction: column;
}
.addNewInventory__input, .addNewInventory__input-description, .addNewInventory__input-dropdown {
  border-radius: 20px;
  border: 1px solid #BDC5D5;
  padding: 0.5rem 1rem;
  margin-top: 0.25rem;
}
.addNewInventory__input-description {
  padding-bottom: 5.75rem;
}
.addNewInventory__input-dropdown {
  -webkit-appearance: none;
  -moz-appearance: none;
  padding-right: 1rem;
  background: url("../../assets/icons/arrow_drop_down-24px.svg") no-repeat 96% 50%;
  color: #5C667E;
}
.addNewInventory__input-error {
  font-size: 0.75rem;
  font-weight: 400;
  padding-left: 1rem;
  color: #C94515;
  background: url("../../assets/icons/error-24px.svg") no-repeat 0% 50%;
  background-size: 0.9rem;
}
.addNewInventory__input-error--hidden {
  display: none;
}
.addNewInventory ::-moz-placeholder {
  font: 0.813rem "Titillium Web";
}
.addNewInventory :-ms-input-placeholder {
  font: 0.813rem "Titillium Web";
}
.addNewInventory ::placeholder {
  font: 0.813rem "Titillium Web";
}
.addNewInventory__selection-label {
  font-weight: 400;
}
.addNewInventory__selection-label--selected {
  font-weight: 600;
}
.addNewInventory__selection-container {
  display: flex;
  align-items: center;
}
.addNewInventory__selection-option {
  display: flex;
  align-items: center;
  width: 50%;
}
.addNewInventory__form-footer {
  background: #F7F8F9;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 1.5rem;
}
.addNewInventory__button-container {
  background: #F7F8F9;
  display: flex;
  justify-content: space-between;
}
.addNewInventory__button-add, .addNewInventory__button-cancel {
  border-radius: 20px;
  border: 1px solid #BDC5D5;
  padding: 0.45rem 0rem;
  width: 47%;
  font: 0.75rem "Titillium Web Semibold";
  color: #FFFFFF;
  background: #2E66E5;
}
.addNewInventory__button-cancel {
  color: #5C667E;
  background: #FFFFFF;
}
.addNewInventory__success {
  color: rgb(19, 129, 19);
  font-size: 1rem;
  order: 3;
  padding-top: 1rem;
}
.addNewInventory__success-container {
  order: 2;
  display: flex;
  justify-content: center;
}
.addNewInventory__success--hidden {
  display: none;
}
.addNewInventory #in-stock, .addNewInventory #out-of-stock {
  margin: 0 0.5rem 0 0;
}
@media only screen and (min-width: 768px) {
  .addNewInventory {
    padding: 0 2rem;
  }
  .addNewInventory__forms {
    display: flex;
    width: 100%;
  }
  .addNewInventory__card {
    top: -5.9rem;
  }
  .addNewInventory__header {
    display: flex;
    justify-content: flex-start;
    padding: 0 2rem 0;
  }
  .addNewInventory__back-icon {
    padding: 1rem 0.75rem 0 0;
  }
  .addNewInventory__heading {
    margin: 2rem 0 1.3125rem;
  }
  .addNewInventory__details {
    display: flex;
    justify-content: center;
  }
  .addNewInventory__details-item, .addNewInventory__details-availability {
    margin: 1.5rem 0;
    width: 50%;
  }
  .addNewInventory__details-item {
    border-right: 1px solid #BDC5D5;
    border-bottom: none;
  }
  .addNewInventory__details-subheading {
    padding: 0 2rem 0.5rem;
  }
  .addNewInventory__form-container {
    padding: 0 2rem 0.5rem;
  }
  .addNewInventory__label {
    padding: 1.5rem 0 0;
  }
  .addNewInventory__input {
    padding: 0.5rem 1rem;
  }
  .addNewInventory__button-container {
    justify-content: flex-end;
  }
  .addNewInventory__button-add, .addNewInventory__button-cancel {
    border-radius: 30px;
    border: 1px solid #BDC5D5;
    padding: 0.45rem 0.75rem;
    width: auto;
    color: #FFFFFF;
    background: #2E66E5;
  }
  .addNewInventory__button-cancel {
    color: #5C667E;
    background: #FFFFFF;
    margin-right: 1rem;
  }
  .addNewInventory ::-moz-placeholder {
    font-size: 0.875rem;
  }
  .addNewInventory :-ms-input-placeholder {
    font-size: 0.875rem;
  }
  .addNewInventory ::placeholder {
    font-size: 0.875rem;
  }
  .addNewInventory__success {
    color: rgb(19, 129, 19);
    font-size: 1rem;
    padding-top: 0;
  }
  .addNewInventory__success-container {
    display: flex;
    align-items: center;
    padding-left: 17rem;
  }
  .addNewInventory__success--hidden {
    display: none;
  }
  .addNewInventory__form-footer {
    flex-direction: row-reverse;
  }
}
@media only screen and (min-width: 1280px) {
  .addNewInventory {
    padding: 0 8.125rem;
  }
  .addNewInventory__header {
    padding-left: 2.5rem;
  }
  .addNewInventory__details-item, .addNewInventory__details-availability {
    margin-bottom: 1.5rem;
  }
  .addNewInventory__details-subheading {
    padding: 0 2.5rem 0.5rem;
  }
  .addNewInventory__form-container {
    padding: 0 2.5rem 1.5rem;
  }
  .addNewInventory__selection-container {
    width: 50%;
  }
  .addNewInventory__button-container {
    justify-content: flex-end;
  }
  .addNewInventory__input-dropdown {
    background-position: 98% 50%;
  }
  .addNewInventory__form-footer {
    padding: 1rem 2.5rem;
  }
  .addNewInventory__success-container {
    padding-left: 45%;
  }
  .addNewInventory #quantity-input {
    width: 25%;
  }
}

@media only screen and (min-width: 768px) {
  .page-header {
    font-size: 2rem;
  }
}

@media only screen and (min-width: 768px) {
  .button-text {
    font-size: 0.875rem;
  }
}/*# sourceMappingURL=AddNewInventory.css.map */