@use "../../styles/partials/colors" as c;
@use "../../styles/partials/mixins" as *;

.modal {
  &__heading {
    padding: 3.75rem 1rem 0;
    @include font-header;

    @include tablet {
      padding: 2.5rem 4rem 0;
    }
  }

  &__text {
    padding: 1rem;
    @include font-body-large;

    @include tablet {
      padding: 1rem 7rem 1rem 4rem;
    }
  }
}

.warehouse {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  box-sizing: border-box;
  border-top: 1px solid c.$color-secondary-cloud;

  @include tablet {
    align-items: center;
    padding: 0.75rem 1.75rem 0.75rem 2rem;
  }

  &__column {
    width: 50%;
    box-sizing: border-box;
    padding: 1rem 1.5rem 0;

    @include tablet {
      width: 20%;
      padding: 0;
    }
  }

  &__column-first {
    order: 1;
  }

  &__column-second {
    order: 3;

    @include tablet {
      order: 2;
      width: 30%;
      padding-right: 1.5rem;
    }
  }

  &__column-third {
    order: 2;

    @include tablet {
      order: 3;
    }
  }

  &__column-fourth {
    order: 4;

    @include tablet {
    }
  }

  &__column-btns {
    width: 100%;
    display: flex;
    justify-content: space-between;
    order: 5;

    @include tablet {
      width: 10%;
      justify-content: flex-end;
      gap: 0.25rem;
    }
  }

  &__link {
    display: flex;
    align-items: center;
  }

  &__link:hover {
    text-decoration: underline;
  }

  &__text {
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: c.$color-primary-black;
  }

  &__label {
    font-weight: 600;
    font-size: 11px;
    line-height: 16px;
    color: c.$color-secondary-slate;
    padding-bottom: 0.25rem;

    @include tablet {
      display: none;
    }
  }

  &__text-blue {
    color: c.$color-primary-indigo;
    font-weight: 600;
  }

  &__action {
    background: none;
    border: none;
    cursor: pointer;
  }
}

.warehouse:hover {
  @include desktop {
    background-color: rgba(46, 102, 230, 0.07);
  }
}
