@use "../../styles/partials/typography" as *;
@use "../../styles/partials/colors" as *;


.warehouse-page {
    display: flex;
    flex-direction: column;
   
    &__header {
        background-color: $graphite;
        padding: 0 1rem 0 1rem;
     
    }

    &__title{
        background-color: $white;
        padding: 2rem 0 0 1.5rem;
        margin: 0;
    }

    &__top {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 3.5vw 3.5vw 0 3.5vw;

    }

    &__search-bar {
        display: flex;
        flex-direction: row;
        align-content: center;

        border: 0.1rem solid $slate;
    }

    &__input {
        border: none;

        &::placeholder {
            font-weight: 400;
        }

        &:focus {
           outline: none;
        }
    }
}