@use "../../styles/partials/typography" as *;
@use "../../styles/partials/colors" as *;


.warehouse-page {

    padding: 0 0 0 0;
    
    &__header {
        background-color: $graphite;
        padding: 0 4vw 0 4vw;
     
    }

    &__title{
        // font-size: 1.75rem;
        line-height: 2.25rem;
        font-weight: 600;
        font-size: 8vw;

        background-color: $white;
        padding: 10vw 0 1vw 6vw;
        margin: 0;
    }
}