@use "../../styles/partials/colors" as *;

.warehouse-list {
    display: flex;
    flex-direction: column;

    padding: 0 1rem 0 1rem;
    background-color: $light-grey;

    &__header {
        display: flex;
        justify-content: space-around;

    }

    &__box {
        display: flex;
        // padding: 0 2rem 0 2rem;
    }
}