@use "../../styles/partials/colors" as *;
@use "../../styles/partials/breakpoints" as *;

.warehouse-list {
    display: flex;
    flex-direction: column;

    padding: 0 1rem 0 1rem;
    background-color: $light-grey;

    &__header {
        display: none;

        @include tablet {
            display: flex;
            justify-content: space-around;
            border-top: none;
        }
       
    }

    &__box {
        display: flex;
    }
}