@use "./styles/partials/colors" as *;
@use "./styles/partials/typography" as *;
@use "./styles/partials/variables" as *;
@use "./styles/partials/mixins" as *;
@use "./styles/global" as *;

body,
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea,
button,
select {
  padding: 0;
  margin: 0;
  font-family: $font-stack;
}

a {
  text-decoration: none;
  color: $color-secondary-cloud;
}

h3 {
  font-size: 0.7rem;

  @include tablet {
    font-size: 0.9rem;
  }
}

h4 {
  color: $color-secondary-slate;
  @include font-body-small;
}

p {
  font-size: 0.6rem;
  color: $color-secondary-slate;
  padding: 0;
  margin: 0;

  @include tablet {
    font-size: 0.8rem;
  }
}
